# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store/

# testing
/coverage
/test-results/
/playwright-report/
/playwright/.cache/
.obs*
*report*
events.json

# next.js
/.next/
/out/

# production
/build

# misc
/.vscode
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
usage.log*

# local env files
.env*.local
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# BrowserStack
browserstack.err
browserstack.out
*.log